/emacs.d/.python-environments
/emacs.d/config.el
/emacs.d/elpa
/emacs.d/eshell
/emacs.d/games
/emacs.d/python-epc.log
/emacs.d/recentf
/emacs.d/autosave

/vim/.netrwhist

custom.el
custom.el~

*.cache
*.eld