/emacs.d/.python-environments
/emacs.d/elpa
/emacs.d/eshell
/emacs.d/games
/emacs.d/python-epc.log
/emacs.d/recentf
/emacs.d/autosave/
/emacs.d/backup/
emacs.d/autosave/

/vim/.netrwhist

custom.el
custom.el~

*.cache
*.eld
